@font-face {
  font-family: "iconfont"; /* Project id 3878111 */
  src: url('iconfont.woff2?t=1675690019814') format('woff2'),
       url('iconfont.woff?t=1675690019814') format('woff'),
       url('iconfont.ttf?t=1675690019814') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-shengjiang:before {
  content: "\e7d9";
}

.icon-ziliaoku:before {
  content: "\e600";
}

.icon-shuzhuangtu:before {
  content: "\e601";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-daochu:before {
  content: "\e606";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-tianjia:before {
  content: "\e722";
}

.icon-tianjia1:before {
  content: "\e65e";
}

.icon-chakan:before {
  content: "\e69a";
}

.icon-tuichu:before {
  content: "\e62c";
}

.icon-daochu1:before {
  content: "\e645";
}

.icon-gaishangenghuan:before {
  content: "\e646";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-shenpi:before {
  content: "\e60c";
}

.icon-daochu2:before {
  content: "\e62b";
}

.icon-kufangguanli-lingyongguihuan:before {
  content: "\e63b";
}

