@font-face {
  font-family: "iconfont"; /* Project id 3792744 */
  src: url('iconfont.woff2?t=1675495938368') format('woff2'),
       url('iconfont.woff?t=1675495938368') format('woff'),
       url('iconfont.ttf?t=1675495938368') format('truetype');
}

.iconfont{
  font-family: "iconfont" !important;
  /* font-size: 40px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont{
  font-size: 40px;
}
.icon-tuichu:before {
  content: "\e60d";
}

.icon-24gl-repeat2:before {
  content: "\ea75";
}
.icon-denglu:before {
  content: "\e604";
  font-size: 50px;
}

.icon-ziliaoku:before {
  content: "\e601";
}

.icon-2shouye2:before {
  content: "\e653";
}

.icon-chakan:before {
  content: "\e642";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
  font-size: 22px;
  font-size: 35px;
}

